body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: $font-family;
    @include font-size($font-size);
    background: $colour-background;
    color: $colour-text;
    height: 100%;
    line-height: 1.4em;
}

