<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="/assets/stylesheets/author.css">
</head>
<body>
    <section role="main">
        <div placeholder="Type something" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" dir="ltr" aria-autocomplete="list" aria-expanded="false" class="editor js-editor"></div>
        <div class="highlighter js-highlighter"></div>
        <div class="gui">
            <div class="gui-counter"><span id="sentence-count">0</span>&nbsp;&nbsp;&nbsp;&nbsp;sentences</div>
            <div class="gui-counter"><span id="word-count">0</span>&nbsp;&nbsp;&nbsp;&nbsp;words</div>
        </div>
    </section>
    <script src="/assets/javascripts/author.js"></script>
</body>
</html>
