<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <link rel="stylesheet" href="/assets/stylesheets/author.css">
</head>
<body>
    <section role="main">
        <div placeholder="Type something" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" dir="ltr" aria-autocomplete="list" aria-expanded="false" class="editor js-editor"></div>
        <div class="highlighter js-highlighter"></div>
        <div class="gui">
            <div class="gui-counter" id="sentence-count"><span class="gui-counter-value">0</span>&nbsp;&nbsp;&nbsp;sentence<span class="gui-counter-plural is-visible">s</span></div>
            <div class="gui-counter" id="word-count"><span class="gui-counter-value">0</span>&nbsp;&nbsp;&nbsp;word<span class="gui-counter-plural is-visible">s</span></div>
            <div class="gui-counter" id="reading-time"><span class="gui-counter-value">0</span>&nbsp;&nbsp;&nbsp;min<span class="gui-counter-plural is-visible">s</span></div>
        </div>
    </section>
    <script src="/assets/javascripts/author.js"></script>
</body>
</html>
