/**
 * Convert font-size from px to rem with px fallback
 *
 * @param $size - the value in pixel you want to convert
 *
 * e.g. p {@include fontSize(12px);}
 *
 * as per @stubornella's oocss: https://github.com/stubbornella/oocss/blob/0c146a17e13d7b9d5797ffbf2805ce482cbddd9b/oocss/src/components/utils/_fontSize.scss
 */

// Function for converting a px based font-size to rem.
@function calculate-rem($size) {
    $rem-size: $size / 16px;
    //Default font size on html element is 100%, equivalent to 16px;
    @return #{$rem-size}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin font-size($size) {
    font-size: $size;
    font-size: calculate-rem($size);
}
