$editor-width: 625px;
$editor-padding-top: 40px;
$editor-padding-left: 20px;
$editor-padding-bottom: $editor-padding-top;
$editor-padding-right: $editor-padding-left;
$editor-padding: $editor-padding-top $editor-padding-right $editor-padding-bottom $editor-padding-left;

$gui-width: 100px;
