.editor {
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 20px;
    right: 20px;
    border: 0;
    background: transparent;
    appearance: none;
    outline: none;
    padding: 0;
    width: calc(100% - 40px);
    height: calc(100% - 80px);
    z-index: 100;

    // Fixes webkit bug where font smoothing is not applied to inputs
    // and buttons even if font smoothing is applied to everything via
    // the <body> tag. See http://jameskoster.co.uk/work/using-webkit-font-smoothing-antialiased-check-your-buttons/
    -webkit-font-smoothing: antialiased;
}
