.gui {
    position: fixed;
    top: $editor-padding-top;
    text-align: right;
    margin-left: -1 * ($gui-width + $editor-padding-top);
    width: 100px;
}

.gui-counter {
    @include font-size(16px);
    float: right; // Necessary to have text overflow to the left
    font-weight: $font-weight-bold;
    color: $colour-light-text;
}
